.hei{
    background-image: url('../../../assets/images/gt.webp');
    background-size: cover;
}

.hey{
    height: 140px;
    width: 150px;

}

.admo{
    background-image: url('https://img.freepik.com/free-vector/ombre-blue-curve-light-blue-background_53876-113896.jpg?w=1060&t=st=1667831103~exp=1667831703~hmac=d81fd356eb552b972edc0c864846939ceb5ae29e061abd2fa1817d396c4ce2be');
    background-size: cover;
}