.hei{
    background-image: url('../../../assets/images/gt.webp');
    background-size: cover;
}

.hey{
    height: 140px;
    width: 150px;

}

.admo{
    background-image: url('https://img.freepik.com/free-vector/wave-background_53876-115944.jpg?w=1060&t=st=1667826950~exp=1667827550~hmac=78441b2633a5e36f457e3ce564128293d02ba8ef07567bf3f61f4b58eee80c0d');
    background-size: cover;
}